@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    height: 93vh;
    padding: 30px;
}

/* === MENU TOP === */
.menu {
    background: #222;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu > li:hover {
    background: #111;
}

/* === SOUS-MENUS === */
.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    background: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 170px;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.submenu li a {
    display: block;
    padding: 12px 18px;
    color: #ddd;
    text-decoration: none;
    white-space: nowrap;
}

.submenu li:hover > a {
    background: #007bff;
    color: white;
}

/* === MULTI-NIVEAUX === */
li:hover > .submenu {
    display: block;
}


.submenu .submenu {
    top: 0;
    left: 100%;
    border-radius: 3px;
}

.etudiants{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 10px;
    font-family:Nunito,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}